<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EdEHR</title>
</head>

<body>
  <h1>EdEHR - Error</h1>
  <p><%= errMessage %></p>
  <p>Status: <%= status %></p>

  <%
    let props = [
      "context_id",
      "context_title",
      "context_label",
      "context_type",
      "custom_assignment",
      // "launch_presentation_return_url",
      // "lis_course_section_sourcedid",
      // "lti_message_type",
      // "lti_version",
      "resource_link_id",
      "resource_link_title",
      "resource_link_description"
    ]
  %>

  <% if (errorData.course) { %>
  <ul>
    <% props.forEach(function(prop) { %>
    <li><%= prop %> - <%= errorData.course[prop] %></li>
    <% }); %>
  </ul>
  <h2>LTI DATA</h2>
  <pre> <%= JSON.stringify(errorData, null, 2) %></pre>
  <% } %>
</body>

</html>